* @envelope-zero/frontend-maintainers

# Morre co-owns review renovate config and GitHub config
renovate.json @envelope-zero/frontend-maintainers @morremeyer
.github/ @envelope-zero/frontend-maintainers @morremeyer
