default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v10.0.2'
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        language: node
        pass_filenames: false
        entry: npm run format

  # Explicitly not using the renovate upstream hook because for some reason installing it is
  # excruciatingly slow (> 10 minutes in some cases)
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-renovate
