default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.55.0'
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

  # Explicitly not using the renovate upstream hook because for some reason installing it is
  # excruciatingly slow (> 10 minutes in some cases)
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-renovate
