version: '3'
services:
  backend:
    image: ghcr.io/envelope-zero/backend:v7.1.1
    user: root
    ports:
      - 8081:8080
    environment:
      API_URL: http://localhost:3000/api
      CORS_ALLOW_ORIGINS: http://localhost:3000
