version: '3'

volumes:
  ez-dev-data:

services:
  backend:
    image: ghcr.io/envelope-zero/backend:v7.1.1
    user: root
    volumes:
      - ez-dev-data:/data
    ports:
      - 8080:8080
    environment:
      API_URL: http://localhost:3000/api
      CORS_ALLOW_ORIGINS: http://localhost:3000
