version: '3'
services:
  backend:
    image: ghcr.io/envelope-zero/backend:v3.21.1
    ports:
      - 8081:8080
    environment:
      API_URL: http://localhost:3000/api
      CORS_ALLOW_ORIGINS: http://localhost:3000
