@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dark {
    color-scheme: dark;
  }

  #root {
    @apply bg-white dark:bg-slate-800;
  }

  // hide arrows on number inputs
  // Chrome, Safari, Edge, Opera
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  // Firefox
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .link {
    @apply text-red-800 dark:text-red-600;
  }

  h1 {
    @apply text-xl leading-6 font-black text-gray-900 dark:text-gray-100 tracking-wide;
  }

  h2 {
    @apply text-lg leading-6 font-bold text-gray-900 dark:text-gray-100;
  }

  h3 {
    @apply text-lg leading-6 font-medium text-gray-900 dark:text-gray-100;
  }

  .header {
    @apply fixed top-[1.625rem] left-0 right-0 m-auto text-center md:relative md:top-0 z-10 flex justify-center items-center md:h-12;
    width: calc(100% - 9rem);

    h1 {
      @apply whitespace-nowrap overflow-hidden text-ellipsis max-w-full;
      max-width: calc(100% - 1.5rem);
    }

    .header--action {
      @apply fixed right-6 text-red-800 dark:text-red-600 flex gap-x-2;

      .header--action__secondary {
        @apply text-gray-600 dark:text-gray-400;

        + * {
          @apply font-bold;
        }
      }
    }
  }

  .full-centered {
    @apply flex items-center justify-center;
  }

  .icon {
    @apply h-6 w-6 flex-shrink-0;
  }

  .icon-red {
    @apply icon text-red-800 dark:text-red-600;
  }

  .icon-xs {
    @apply icon h-4 w-4;
  }

  .icon-sm {
    @apply icon h-5 w-5;
  }

  .icon-lg {
    @apply icon h-10 w-10;
  }

  .box {
    @apply shadow-sm rounded-md bg-gray-100 dark:bg-slate-700;
  }

  .card {
    @apply bg-white dark:bg-slate-800 shadow-sm overflow-hidden rounded-md border border-gray-200 dark:border-gray-900;
  }

  .error {
    @apply bg-red-100 p-2 rounded-md text-red-800 dark:text-red-600;
  }

  .btn-secondary {
    @apply box w-full text-red-800 hover:text-red-900 dark:text-red-600 dark:hover:text-red-500 py-2 px-4 text-sm font-medium hover:bg-gray-200 dark:hover:bg-slate-600;
  }

  .link-blue {
    @apply text-blue-600 hover:text-blue-800 dark:text-sky-400 dark:hover:text-sky-300;
  }

  input,
  textarea {
    @apply border border-gray-300 dark:border-gray-900 rounded-md p-2 dark:bg-slate-800 dark:focus:bg-slate-700 dark:text-gray-100;
  }

  .form-field--wrapper {
    @apply sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 dark:sm:border-gray-900 sm:pt-5;
  }

  .form-field--label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-300 sm:mt-px sm:pt-2;
  }

  .input--outer {
    @apply mt-1 sm:mt-0 sm:col-span-2 relative;
  }

  .input--inner {
    @apply max-w-lg flex rounded-md shadow-sm relative;
  }

  .input {
    @apply flex-1 block w-full min-w-0 sm:text-sm border-gray-300 dark:border-gray-900 rounded-md dark:bg-slate-800 dark:focus:bg-slate-700 dark:text-gray-100;
  }

  .settings-input {
    @apply input border-0 text-right sm:text-left;
  }

  .dashboard {
    .month-slider {
      @apply grid grid-cols-12;

      a {
        @apply text-gray-400 text-sm font-medium col-span-3 text-center flex justify-center items-center dark:border-gray-500;
      }

      > div {
        @apply col-span-6;
      }

      > div,
      a {
        @apply pb-1 border-b-2;
      }
    }
  }

  .positive {
    @apply text-lime-700  dark:text-lime-500;
  }

  .negative {
    @apply text-red-600 dark:text-red-500;
  }

  .trans {
    font-size: 0;
    & > span {
      @apply text-xl /* h1 */;
    }
  }

  .trans:hover > span {
    &:first-child,
    &:last-child {
      @apply text-sky-500;
    }

    &:nth-child(2),
    &:nth-child(4) {
      @apply text-pink-500;
    }

    &:nth-child(3) {
      color: #fff;
    }
  }

  html:not(.dark) .trans:hover > span:nth-child(3) {
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
  }
}
