@layer components {
  .dark {
    color-scheme: dark;
  }

  #root {
    @apply bg-gray-100 dark:bg-slate-900;
  }

  // hide arrows on number inputs
  // Chrome, Safari, Edge, Opera
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  // Firefox
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .link {
    @apply text-red-800 dark:text-red-600;
  }

  h1 {
    @apply text-xl leading-6 font-black tracking-wide text-gray-900 dark:text-gray-100;
  }

  h2 {
    @apply text-lg leading-6 font-bold text-gray-900 dark:text-gray-100;
  }

  h3 {
    @apply text-lg leading-6 font-medium text-gray-900 dark:text-gray-100;
  }

  .header {
    @apply fixed top-[1.625rem] right-0 left-0 z-10 m-auto flex items-center justify-center text-center lg:relative lg:top-0 lg:h-12;
    @media (max-width: 1023px) {
      width: calc(100% - 9rem);
    }

    h1 {
      @apply max-w-full overflow-hidden text-ellipsis whitespace-nowrap;
      max-width: calc(100% - 1.5rem);
    }

    .header--action {
      @apply fixed right-6 flex gap-x-2 text-red-800 lg:absolute lg:right-0 dark:text-red-600;

      .header--action__secondary {
        @apply text-gray-600 dark:text-gray-400;

        + * {
          @apply font-bold;
        }
      }
    }
  }

  .full-centered {
    @apply flex items-center justify-center;
  }

  .icon {
    @apply h-6 w-6 shrink-0;
  }

  .icon-red {
    @apply icon text-red-800 dark:text-red-600;
  }

  .icon-xs {
    @apply icon h-4 w-4;
  }

  .icon-sm {
    @apply icon h-5 w-5;
  }

  .icon-lg {
    @apply icon h-10 w-10;
  }

  .box {
    @apply rounded-md bg-gray-100 shadow-xs dark:bg-slate-700;
  }

  .card {
    @apply rounded-lg bg-white p-4 shadow-lg md:p-8 dark:bg-slate-800;
  }

  .error {
    @apply rounded-md bg-red-100 p-2 text-red-800 dark:text-red-600;
  }

  .button-group {
    @apply flex flex-col gap-4 md:flex-row-reverse md:justify-start;
  }

  .btn-primary {
    @apply full-centered w-full min-w-32 rounded-md bg-blue-800 px-4 py-3 text-sm font-bold text-white shadow-xs hover:bg-blue-900 md:w-auto dark:hover:bg-blue-700;
  }

  .btn-secondary {
    @apply full-centered w-full min-w-32 rounded-md border border-blue-800 px-4 py-2 text-sm font-medium text-blue-800 shadow-xs hover:bg-gray-50 hover:text-blue-900 md:w-auto dark:border-gray-300 dark:text-gray-300 dark:hover:bg-slate-700 dark:hover:text-gray-200;
  }

  .btn-secondary-red {
    @apply btn-secondary border-red-800 text-red-800 hover:text-red-900 dark:border-red-600 dark:text-red-600 dark:hover:text-red-600;
  }

  .link-blue {
    @apply text-blue-800 hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300;
  }

  input[type='file'] {
    @apply border border-gray-300;
    &::file-selector-button {
      @apply bg-gray-400 dark:bg-slate-600;
    }
  }

  .form-field--label {
    @apply block text-sm leading-6 font-medium text-gray-900 dark:text-gray-300;
  }

  .input--outer {
    @apply relative mt-2;
  }

  .input {
    @apply block w-full min-w-0 flex-1 rounded-md border-gray-300 placeholder:text-gray-400 focus:border-transparent focus:ring-2 focus:ring-blue-800 focus:outline-transparent focus:ring-inset sm:text-sm dark:border-slate-700 dark:bg-slate-700 dark:text-gray-100 dark:focus:bg-slate-700 dark:focus:ring-blue-700;
  }

  .dashboard {
    .month-slider {
      @apply grid grid-cols-12;

      a {
        @apply col-span-3 flex items-center justify-center border-gray-300 text-center text-sm font-medium text-gray-500 dark:border-gray-500 dark:text-gray-400;
      }

      > div {
        @apply col-span-6;
      }

      > div,
      a {
        @apply border-b-2 pb-1;
      }
    }
  }

  .positive {
    @apply text-lime-700 dark:text-lime-500;
  }

  .negative {
    @apply text-red-600 dark:text-red-500;
  }

  .trans {
    font-size: 0;
    & > span {
      @apply /* h1 */ text-xl;
    }
  }

  .trans:hover > span {
    &:first-child,
    &:last-child {
      @apply text-sky-500;
    }

    &:nth-child(2),
    &:nth-child(4) {
      @apply text-pink-500;
    }

    &:nth-child(3) {
      color: #fff;
    }
  }

  html:not(.dark) .trans:hover > span:nth-child(3) {
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
  }
}
