@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  // hide arrows on number inputs
  // Chrome, Safari, Edge, Opera
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  // Firefox
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .link {
    @apply text-red-800;
  }

  h1 {
    @apply text-xl leading-6 font-black text-gray-900 tracking-wide;
  }

  h2 {
    @apply text-lg leading-6 font-bold text-gray-900;
  }

  h3 {
    @apply text-lg leading-6 font-medium text-gray-900;
  }

  .header {
    @apply fixed top-[1.625rem] left-0 right-0 m-auto text-center md:relative md:top-0 z-10 flex justify-center items-center md:h-12;
    width: calc(100% - 9rem);

    .header--action {
      @apply fixed right-6 text-red-800 flex gap-x-2;

      .header--action__secondary {
        @apply text-gray-600;

        + * {
          @apply font-bold;
        }
      }
    }
  }

  .full-centered {
    @apply flex items-center justify-center;
  }

  .icon {
    @apply h-6 w-6 flex-shrink-0;
  }

  .icon-red {
    @apply icon text-red-800;
  }

  .icon-xs {
    @apply icon h-4 w-4;
  }

  .icon-sm {
    @apply icon h-5 w-5;
  }

  .icon-lg {
    @apply icon h-10 w-10;
  }

  .box {
    @apply shadow-sm rounded-md bg-gray-100;
  }

  .error {
    @apply bg-red-100 p-2 rounded-md;
  }

  .btn-secondary {
    @apply box w-full text-red-800 hover:text-red-900 py-2 px-4 text-sm font-medium hover:bg-gray-200;
  }

  .link-blue {
    @apply text-blue-600 hover:text-blue-800;
  }

  input,
  textarea {
    @apply border border-gray-300 rounded-md p-2 focus:ring-red-800 focus:border-red-800;
  }

  .form-field--wrapper {
    @apply sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5;
  }

  .form-field--label {
    @apply block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2;
  }

  .input--outer {
    @apply mt-1 sm:mt-0 sm:col-span-2 relative;
  }

  .input--inner {
    @apply max-w-lg flex rounded-md shadow-sm relative;
  }

  .input {
    @apply flex-1 block w-full min-w-0 sm:text-sm;
  }

  .dashboard {
    .month-slider {
      @apply grid grid-cols-12;

      a {
        @apply text-gray-400 text-sm font-medium col-span-3 text-center flex justify-center items-center;
      }

      > div {
        @apply col-span-6;
      }

      > div,
      a {
        @apply pb-1 border-b-2;
      }
    }
  }

  .positive {
    @apply text-lime-700;
  }

  .negative {
    @apply text-red-600;
  }

  .trans {
    font-size: 0;
    & > span {
      @apply text-xl /* h1 */;
    }
  }

  .trans:hover > span {
    @apply text-2xl;

    &:first-child,
    &:last-child {
      @apply text-sky-500;
    }

    &:nth-child(2),
    &:nth-child(4) {
      @apply text-pink-500;
    }

    &:nth-child(3) {
      color: #fff;
      -webkit-text-stroke-color: #000;
      -webkit-text-stroke-width: 1px;
    }
  }
}
